.radio-items__container{
    display: flex;
    flex-direction: column;
}

.radio-item{
    display: flex;
    gap:0.8rem;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.working-day-info{
    display: flex;
    gap: 0.5rem;
}



.data-cotainer{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.error-message{
    color:red;
}