.form-wrapper{
    background-color: rgb(124, 124, 244);
    position: absolute;
    padding: 20px 20px 0 20px ;
    border-radius: 10px;
}

.form_navigate-buttons{
    bottom: 6px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form-data{
    padding: 1rem;
    /* position: relative; */
}